/* Navbar customization */
.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: rgba(51, 51, 51, 0.8); /* Semi-transparent background */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
  box-sizing: border-box;
}

.logo {
  height: 60px;
  max-width: 100%; /* Ensure the logo does not exceed its container */
}

.nav-links {
  display: flex;
  flex-wrap: wrap; /* Ensure links wrap on smaller screens */
}

.nav-link {
  text-decoration: none;
  color: white;
  margin-left: 20px;
  cursor: pointer;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #ddd;
}

@media (max-width: 600px) {
  .nav-links {
    flex-direction: column;
    margin-top: 10px;
  }
  
  .nav-link {
    margin: 5px 0;
  }
}
